<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chores">
      <ion-icon [name]="(allDone$ | async) ? 'file-tray' : 'file-tray-full'">
      </ion-icon>
      <ion-badge color="warning" *ngIf="(amountLeft$ | async) != 0">{{ amountLeft$ | async }}</ion-badge>
      <ion-label>Chores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="editChores" *ngIf="(canEdit$ | async)">
      <ion-icon name="create"></ion-icon>
      <ion-label>Adjust</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>