ion-content {
  --padding-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.logo {
  height: 230px;
  background: url('/assets/images/log-in-outline.svg') center 60% no-repeat;
}

form {
  padding: 0 24px;
  flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // min-height: 135px;
}

app-text-input {
  margin-bottom: var(--ion-margin, 16px);
}

.pw-container {
  position: relative;

  /* stylelint-disable */
  ::ng-deep ion-input {
    margin-right: 80px;
    width: calc(100% - 80px);
  }
  /* stylelint-enable */
}

.forgot-pw {
  font-size: 17px;
  padding: 5px 5px 0 5px;
  z-index: 10;
  position: absolute;
  right: 2px;
  top: 18px;
}

.register {
  color: var(--brownish-grey);
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  margin: 36px 0 18px;
  width: 100%;
  &-link {
    text-decoration-line: none;
  }
}
