.container {
  padding: 0 16px 16px;

  &.keyboard-open {
    padding: 0;
  }
}

ion-button {
  --border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: normal;
}
