<ion-header>
  <ion-toolbar>
    <ion-title>
      Chores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hello, {{ userName$ | async }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let chore of (chores$ | async)">
      <ion-label class="ion-text-wrap">{{ chore.task }}</ion-label>
      <ion-checkbox color="primary" (click)="toggleItem(chore.id)" [checked]="chore.complete" slot="start">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>